.art {
  min-height: 960px;
  background: #fcfcfd;
  padding: 96px 0;
  position: relative;
  &_body {
    display: flex;
    justify-content: space-between;
    &_info {
      min-height: 768px;
      width: 35%;
      &__header {
        .art_body_info__title {
          @include black_title;
        }
        .art_body_info__btns {
          display: flex;
          justify-content: start;
          align-items: center;
          margin-bottom: 2.5rem;
          margin-top: 8px;
        }
        .price_btn {
          @include green_price_btn;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 73px;
          height: 30px;
          margin-right: 8px;
        }
        .grey_price_btn {
          width: 91px;
          height: 30px;
          border: 2px solid #e6e8ec;
          border-radius: 4px;
          font-family: "DM Sans";
          font-weight: 700;
          font-size: 1rem;
          color: #777e91;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 8px;
        }
        .art_body_btn {
          border: none;
        }
      }
      &__desc {
        @include grey_400_subtitle;
        font-size: 1rem;
        margin-bottom: 2.5rem;
        span {
          color: $black-color;
        }
      }
      &__nav {
        .art_nav__menu {
          display: flex;
          justify-content: start;
          align-items: center;
          border: 2px solid #e6e8ec;
          border-radius: 36px;
          height: 40px;
          padding: 8px;
          margin-bottom: 2rem;

          li {
            font-family: "DM Sans";
            font-weight: 700;
            font-size: 0.8rem;
            color: #777e91;
            margin-right: 8px;
            width: 50px;
            &:hover {
              background: #353945;
              border-radius: 100px;
              height: 28px;
              color: #fcfcfd;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
            }
          }
        }
      }
      &__users {
        display: flex;
        flex-direction: column;
        min-height: 67px;
        border-bottom: 1px solid #e6e8ec;
        margin-bottom: 1rem;
        .creator__bio {
          width: 159px;
          display: flex;
          align-items: center;

          &__inf {
            margin-left: 0.5rem;
            display: flex;
            flex-direction: column;

            &__desc {
              font-family: "Poppins";
              font-weight: 400;
              font-size: 0.75rem;
              color: $grey-color;
              margin-bottom: 6px;
            }

            &__info {
              font-family: "Poppins";
              font-weight: 500;
              font-size: 0.875rem;
              color: $black-color;
            }
          }
        }
      }
      &__footer {
        margin-top: 4.25rem;
        border: 1px solid #e6e8ec;
        box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
        border-radius: 16px;
        width: 100%;
        height: 240px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .discount_head{
          width: 88%;
          margin: 24px auto;
          display: flex;
          align-items: center;
          &__inf {
            margin-left: 1rem;
            display: flex;
            flex-direction: column;

            &__desc {
              font-family: "Poppins";
              font-weight: 500;
              font-size:1rem;
              color: $grey-color;
              margin-bottom: 6px;
              span{
               color: $black-color;;
              }
            }

            &__info {
              font-family: "Poppins";
              font-weight: 600;
              font-size: 1.5rem;
              color: $grey-color;
              span{
color: $black-color;
              }
            }
          }
        }
        .discount_content{
          width: 336px;
    height: 48px;
          margin: 0  auto;

           display: flex;
           justify-content: space-between;
           
           &__btns{
           
            width: 164px;
            height: 48x;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;

           }
           &__btns__purchase{
            @include blue_btn;
         
           }
          &__btns__placebid{
            @include grey_border_btn;
          
          }
        }
        .discount_footer{
          text-align: center;
          width: 336px;
          margin: 2rem auto 1.5rem auto;
       
          @include grey_400_subtitle;
          font-size: 0.8rem;
          &__service-free{
            font-weight: 500;
          }
          &__count{
            color: $black-color;
            font-weight: 500;
          }
        }

      }
    }
  }
  &__imports{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48px;
    height: 240px;
    top: 10%;
    left: 83%;
    &__btns{
      width: 100%;
display: flex;
justify-content: center;
align-items:center;
height: 48px;

/* Neutrals/6 */

border: 2px solid #E6E8EC;
border-radius: 48px;
&:hover{
  background-color: #23262F;
}
    }
  }
}
