@mixin grey_border_btn {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 14px;
    border: 2px solid #e6e8ec;
    border-radius: 90px;
    background-color: #fcfcfd;
}

@mixin black_subtitle{
    color:$black-color;
    font-size: 1rem;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
}

@mixin grey_500_subtitle{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 1rem;
color: $grey-color;
}
@mixin grey_400_subtitle{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 0.75rem;
color: $grey-color;
}

@mixin  green_price_btn {
    height: 26px;
    border: 2px solid #45b36b;
    border-radius: 4px;
    font-family: "Poppins";
    font-weight: 700;
    font-size: .75rem;
    text-transform: uppercase;
    color: #45b36b;
    background-color: #fcfcfd;
    width: 4.125rem;
}

@mixin place_bid_btn{
    width: 6.125rem;
height: 32px;
border: 2px solid #E6E8EC;
border-radius: 90px;
font-family: 'DM Sans';
font-weight: 700;
font-size: 14px;
line-height: 16px;
color: #23262F;
}

@mixin black_title{
    font-family: 'DM Sans';
font-weight: 700;
font-size: 2.5rem;
color: #23262F;
}


@mixin header__data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fcfcfd;
    border: 2px solid #e6e8ec;
    border-radius: 12px;
    padding-right: 8px;
    padding-left: 16px;
}

@mixin crypt-card{
    display: flex;
      flex-direction: column;
      &__footer {
        border-top: 1px solid #e6e8ec;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
        padding-top: 12px;

        &__right {
          @include grey_400_subtitle;
          font-size: 12px;
          align-self: center;
          span {
            @include black_subtitle;
            font-weight: 600;
            font-size: 12px;
            align-self: center;
          }
        }
        &_left {
          @include grey_400_subtitle;
          margin-top: 6px;
        }
      }
      &__img {
        border-radius: 16px;
      }
      &__desc {
        display: flex;
        justify-content: space-between;
        margin-top: 21px;
        margin-bottom: 13px;
        @include black_subtitle;
        .grey-input {
          @include green_price_btn;
        }
      }
      &__users {
        display: flex;
        justify-content: space-between;
        .hot-bid__title {
          @include black_subtitle;
        }
        margin-top: 12px;
      }
   
}

@mixin blue_btn{
  background: #3772FF;
border-radius: 90px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
color: #FCFCFD;
}

@mixin navbar_menu {
  &_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__menu {
      min-width: 60%;
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li{
          font-family: "DM Sans";
          font-weight: 700;
          font-size: 0.8rem;
          color: #777e91;
        }
        .menu__black {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #353945;
          border-radius: 100px;
          width: 5.1rem;
          color: #f4f5f6;
          height: 28px;
        }
      }}
    }
    }

