.userpage {
  min-height: 1038px;

  padding-top: 17%;
  background: url("../img/userPage/bg.jpg") no-repeat ;
  background-size: 100%;
  @media all and (max-width:1200px) {
    background-size: 106%;
  }
  @media all and (max-width:985px) {
    padding-top: 18%;
    background-size: 115%;
  }
  .profile {
    height: 745px;
    width: 16rem;
    border: 1px solid #e6e8ec;
    box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
    border-radius: 16px;
    background: #fcfcfd;
    @media all and (max-width:985px) {
      width: 20rem;
   
    }
    &_card {
      display: flex;
      flex-direction: column;
      width: 73%;
      margin: 2rem auto;
      &__bio {
        margin-top: 0.8rem;
        .bio_name {
          @include black_subtitle;
          font-weight: 600;
          font-size: 1.5rem;
          text-align: center;
        }
        .bio_title {
          @include black_title;
          font-size: 0.8rem;
          text-align: center;
          margin-top: 4px;
        }
        .bio_desc {
          @include grey_400_subtitle;
          text-align: center;
          margin-top: 20px;
        }
        .bio_map {
          @include black_title;
          font-size: 0.8rem;
          background: url("../icons/userPage/globe.svg") no-repeat 15%;
          margin-top: 20px;
          text-align: center;
        }
      }
    }
    &_btns {
      display: flex;
      justify-content: space-between;
      width: 72%;
      margin: 3rem auto;
    
      &__follow {
        @include blue_btn;
        width: 75px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__import {
        @include grey_border_btn;
        background: url("../icons/userPage/import.svg") no-repeat 54% 50%;
        width: 40px;
        height: 40px;
      }
      &__group {
        @include grey_border_btn;
        background: url("../icons/userPage/groupcomma.svg") no-repeat 54% 50%;
        width: 40px;
        height: 40px;
      }
    }
    &_socials {
      margin: 3rem auto;
      margin-top: 0;
      width: 42%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &_line {
      width: 199px;
      height: 1px;
      text-align: center;
      background: #e6e8ec;
      margin-bottom: 3rem;
    }
    &_data{
        @include grey_400_subtitle;
        text-align: center;
        margin-bottom: 2rem;
    }
   
  }
.user_content{
  width: 60%;
  min-height: 746px;
  padding-top: 1rem;
  margin-bottom: 2rem;
 @media all and (max-width:985px) {
  width: 100%;
 }
  @include navbar_menu;
.user_content_navbar__menu{
  width: 22rem;
  margin-top: 5rem;

}

 &__edits{
 


  display: flex;
  justify-content: end;
  @media all and (max-width:985px) {
  display: none;
  }
 
  &__photo{
    @include grey_border_btn;
    height: 40px;
    background: rgb(0,0,0,0);
    color: #fcfcfd;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    margin-right: 15px;
  }
  &__profile{
    @include grey_border_btn;
    height: 40px;
    background: rgb(0,0,0,0);
    color: #fcfcfd;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
   
  }
 }
  .user_cards{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
}
}


.discover_content .crypt-card__users .hot-bid__title{
  font-size: 0.8rem;
}


.wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media all and (max-width:985px) {
    justify-content: center;
    flex-direction: column;
    row-gap:1rem;
    align-items: center;
  }
  
}

.btn_hide{
  display: none !important;
  @media all and (max-width:985px) {
    display: flex !important;
    justify-content: center !important;
  }
}
@media all and (max-width:1300px) {
.user_cards {
  display: grid !important;
  grid-template-columns: repeat(2,1fr);
  row-gap: 4rem;
}  

}

@media all and (max-width:697px) {
  .user_cards {
    display: grid !important;
    grid-template-columns: 1fr;
    row-gap: 4rem;
    margin: 2rem auto !important;
    .crypt-card__footer, .crypt-card__users, .crypt-card__desc{
      width: 15rem;
    }
  }  

  .user_cards .discover_content{
    margin: 0;
   
  }
  
  }

  @media all and (max-width:697px) {
    .crypt-card{
      width: 100%;
      align-items: center;
    }  
    .btn_hide{
      width: 18rem;
    }
    
    }

     @media all and (max-width:697px){
      .userpage{
        background-size: 155%;
      }
      .btn_hide{
        width: 15rem;
     .user_content__edits__photo, .user_content__edits__profile{
      font-size: .7rem;
     }
      }
      .user_content_navbar__menu  ul{
        flex-wrap: wrap;
        row-gap: 1rem;
      }
      
     }