.wallet {
  min-height: 970px;
  background: #fcfcfd;
  padding: 64px 0 112px 0;
  border-bottom: 1px solid #e6e8ec;
  @media all and (max-width:420px) {
   min-height: 848px;
   padding-bottom: 0;
       }
  &_head {
    display: flex;
    padding-bottom: 2.5rem;
    border-bottom: 2px solid #e6e8ec;
    .wallet_main_title {
      @include black_title;
      margin-left: 1rem;
      @media all and (max-width:420px) {
        font-size: 1.5rem;
           }
    }
    margin-bottom: 2.5rem;
    
 
  }
  &_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media all and (max-width:1100px) {
    column-gap: 5rem;
    row-gap: 4rem;
    justify-content:center;
    }
   
    &_list {
      display: flex;
      flex-direction: column;
      width: 25rem;
      @media all and (max-width:1100px) {
        width: 17rem;
      }

      @media all and (max-width:941px) {
        width: 34rem;
      }
      @media all and (max-width:420px) {
     display: none;
      }



      &__items {
        display: flex;
        @include black_subtitle;
        font-weight: 600;
        font-size: 1.5rem;
        height: 128px;
        align-items: center;
        @media all and (max-width:1100px) {
font-size: 1.2rem;      
        }
        &:hover {
          border: 2px solid #e6e8ec;
          border-radius: 16px;
        }
        .wallet_list_item {
          padding: 32px;
        }
      }
    }
    &_scan {
      width: 29rem;
      @media all and (max-width:1100px) {
        width: 25rem;
      }
      @media all and (max-width:941px) {
        width: 34rem;
      }
      @media all and (max-width:400px) {
        width: 20rem;
      }

      &__head {
        @include black_title;
        font-size: 2rem;
        .scan__head_subtitle {
          @include grey_400_subtitle;
        }
        margin-bottom: 1.5rem;
      }
      &__block {
        width: 100%;
        height: 448px;
        background: #f4f5f6;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;
        .scan_img {
          margin-top: 5rem;
        }
      }
      .wallet_content__btn {
        @include grey_border_btn;
        width: 15rem;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media all and (max-width:420px) {
         width: 20rem;
             }
      }
    }
  }
}
